<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("../partials/head.ejs")  %> 

<body>

    <!-- header section start -->
    <%- include("../partials/header.ejs")  %> 
<!-- header end -->
    
    <section class="h-100 gradient-form mb-3" style="background-color: #eee;">
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-xl-10">
            <div class="card rounded-3 text-black">
              <div class="row g-0">
                <div class="col-lg-6">
                  <div class="card-body p-md-5 mx-md-4">
    
                    <div class="text-center">
                      <img src="/static/images/logo.webp"
                        style="width: 185px;" alt="logo">
                      <h4 class="mt-1 mb-5 pb-1">Turo Komandası olaraq Xidmətinizdəyik</h4>
                    </div>
                    <% if (typeof message != "undefined") { %>
                      <div class="alert alert-<%= message.class %>">
                        <%= message.text %> 
                      </div>
                    <% } %>
                    <form method="post">
                      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                      <p>Please login to your account</p>
                      <div class="form-outline mb-4">
                        <input type="text" id="fullname" name="fullname"  class="form-control"
                          placeholder="" />
                        <label class="form-label" for="name">Name</label>
                      </div>
                      <div class="form-outline mb-4">
                        <input type="email" id="email" name="email"  class="form-control"
                          placeholder="" />
                        <label class="form-label" for="email">Email</label>
                      </div>
                      <div class="form-outline mb-4">
                        <input type="password" id="password" name="password"  class="form-control" />
                        <label class="form-label" for="password">Password</label>
                      </div>
    
                      <div class="text-center pt-1 mb-5 pb-1">
                        <button  type="submit" class="btn btn-outline-danger">register</button>
                      </div>
                      <div class="text-center pt-1 mb-5 pb-1">
                        <button type="submit" class="btn btn-outline-danger">I have account</button>
                      </div>
    
                    </form>
    
                  </div>
                </div>
                <div id="ff" class="col-lg-6 d-flex align-items-center gradient-custom-2">
                  <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                    <h4 class="mb-4">We are more than just a company</h4>
                    <p class="small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                      exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>



        <script>

let searchForm=document.querySelector('.search-form');

document.querySelector('#search-btn').onclick=()=>{
    searchForm.classList.toggle('active');
}
        </script>

</body>

</html>