<!DOCTYPE html>
<html lang="en">
<head>
 <%- include("../partials/head.ejs")  %> 
    </head>
<body>

    <!-- header section start -->
    <%- include("../partials/header.ejs")  %> 
<!-- header end -->


    <div class="container mt-3">
      
    <form  method="post" enctype="multipart/form-data" action="/admin/products/<%= product.id %>?_csrf=<%= csrfToken %>">

        <div class="row my-3">

            <div class="col-md-10 mt-3">
                    <input type="hidden" name="productid" value="<%= product.id %>">
                    <input type="hidden" name="sekil" value="<%= product.sekil %>">
                    <div class="row mb-3">
                        <label for="ad" class="col-sm-1 col-form-label">Ad</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control"  id="ad" name="ad" value="<%= product.ad %> ">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="url" class="col-sm-1 col-form-label">Url</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control"  id="url" name="url" value="<%= product.url %> ">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="haqqinda" class="col-sm-1 col-form-label">Haqqinda</label>
                        <div class="col-sm-10">
                            <textarea id="editor" name="haqqinda" class="form-control"  rows="10"><%= product.haqqinda %> </textarea>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="sekil" class="col-sm-1 col-form-label">sekil</label>
                        <div class="col-sm-10">
                            <img src="/static/images/<%= product.sekil %> " alt="" width="120px">
                            <input type="file" class="form-control"  id="sekil" name="sekil">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="qiymet" class="col-sm-1 col-form-label">qiymet</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control"  id="qiymet" name="qiymet" value="<%= product.qiymet %> ">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-sm-10 offset-sm-1">
                           <button type="submit" class="btn btn-primary">Kaydet</button>
                        </div>
                    </div>
            </div>
            <div class="col-md-2">
                <div class="row">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="anasayfa" name="anasayfa" <%= product.anasayfa ?"checked":""%> >
                            <label class="form-check-label" for="anasayfa">
                              Anasayfa
                            </label>
                          </div>
                </div>
                <div class="row mb-3">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="onay" name="onay" <%= product.onay?"checked":"" %> >
                            <label class="form-check-label" for="onay">
                              Onay
                            </label>
                          </div>
                </div>

                <div class="row border-top pt-3">
                    <% categories.forEach(category => { %>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" 
                            id="category_<%= category.id %>" 
                            name="categories[]"
                            value="<%= category.id %>"
                            <%= product.categories.some(cat => cat.id == category.id)?"checked":"" %> >
                            <label class="form-check-label" for="category_<%= category.id %>">
                                <%= category.ad %>
                            </label>
                          </div>
                    <% }) %>
            </div>
            </div>
            
        </div>
    </form>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/ckeditor5/36.0.0/ckeditor.min.js"></script>
    <script>
        ClassicEditor
            .create( document.querySelector( '#editor' ) )
            .catch( error => {
                console.error( error );
            } );
    </script>
    

        <script>

let searchForm=document.querySelector('.search-form');

document.querySelector('#search-btn').onclick=()=>{
    searchForm.classList.toggle('active');
}
        </script>

</body>

</html>