<div class="card">
  <img src="/static/images/<%= sekil %>"  class="card__image" alt="">
  <div class="card-content">
      <h4 class="card-name"><%= ad %></h4>
      <p> <%-  haqqinda %> </p>
  </div>
  <div class="card__info">
      <div>
          <%= qiymet %> 
      </div>
      <div>
          <a href="/products/product-detail/<%= url %>" class="card__link">Almaq</a>

      </div>
  </div>
</div> 